# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
.terraform.tfstate.lock.info

# Terragrunt
.terragrunt-cache/
.terragrunt-cache/*
.terragrunt.lock.hcl

# Provider binaries
**/.terraform/providers/

# OS / Editor
.DS_Store
Thumbs.db